
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-ThinItalic.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway.woff2') format('woff2'),
        url('../fonts/raleway/Raleway.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Italic.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-BlackItalic.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Thin.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Heavy.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-MediumItalic.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-ExtraLight.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Black.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-LightItalic.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-BoldItalic.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Light.woff2') format('woff2'),
        url('../fonts/raleway/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'EngraversGothic BT';
    src: url('../fonts/engravers/EngraversGothicBT-Regular.woff2') format('woff2'),
        url('../fonts/engravers/EngraversGothicBT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verlag Book';
    src: url('../fonts/verlag/Verlag-BookItalic.woff2') format('woff2'),
        url('../fonts/verlag/Verlag-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Verlag';
    src: url('../fonts/verlag/Verlag-BoldItalic.woff2') format('woff2'),
        url('../fonts/verlag/Verlag-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Verlag';
    src: url('../fonts/verlag/Verlag-BlackItalic.woff2') format('woff2'),
        url('../fonts/verlag/Verlag-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Verlag';
    src: url('../fonts/verlag/Verlag-Light.woff2') format('woff2'),
        url('../fonts/verlag/Verlag-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Verlag';
    src: url('../fonts/verlag/Verlag-LightItalic.woff2') format('woff2'),
        url('../fonts/verlag/Verlag-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Verlag';
    src: url('../fonts/verlag/Verlag-Black.woff2') format('woff2'),
        url('../fonts/verlag/Verlag-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Verlag';
    src: url('../fonts/verlag/Verlag-Bold.woff2') format('woff2'),
        url('../fonts/verlag/Verlag-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Verlag Book';
    src: url('../fonts/verlag/Verlag-Book.woff2') format('woff2'),
        url('../fonts/verlag/Verlag-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
