body {
  font-family: 'Verlag Book', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #858183;
}

p {
  font-size: 1.2em;
  line-height: 1.4em;
}

a{font-family: 'Raleway', sans-serif;}

h1,
h2,
h3,
h4,
h5,
h6 {font-family: 'EngraversGothic BT';}

/*Helpers*/
.row{margin: 0;}
.no-padding{padding: 0;}
.m-20-0 {margin: 20px 0;}
.m-b-0{margin-bottom: 0 !important;}
.m-t-0{margin-top: 0 !important;}
.m-t-50 {margin-top: 50px;}
.m-t-30 {margin-top: 30px;}


/*Header*/
.btns-header {
  width: 100%;
  margin-top: 10px;
}
.btns-header ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.btns-header ul li {
	display: inline-block;
}
@media(min-width: 768px){
  .btns-header ul {text-align: right;}
}

.navbar {margin-bottom: 10px;}
.navbar-brand{
  display: block;
  height: auto;
  max-width: 248px;
  margin: 0 auto;
  float: none;
}
@media(min-width: 768px){
  .navbar-brand{max-width: 300px;margin-bottom: 10px;}
  .navbar-header,
  .navbar-nav  {float: none;}
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{margin-left: auto;}
}
.navbar-brand img{
  display: block;
  width: 100%;
}
.navbar-toggle .icon-bar{
  width: 15px;
  height: 1px;
  background: #c5c5c5;
}
.navbar-nav {
  border-top: 1px solid #F0EEEE;
  padding-top: 10px;
}
.navbar-nav a{
  color: #858183;
  font-size: 13px;
}
.nav>li>a {padding: 10px 14px;}
header .nav-pills {border-bottom: 0;}
header .nav-pills li {width: 120px;}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover,
.nav-pills .active{
  font-weight: 700;
  background: none;
  padding: 0;
  color: #858183;
}
/*Header*/

/*Caroussel mobile*/
.mobile-carousel{margin-bottom: 180px;}
.carousel-inner,
.carousel-inner>.item{overflow: visible;}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  width: 100%;
  height: 220px;
}

.carousel-caption{
  height: 130px;
  bottom: -130px;
  left: 0;
  right: 0;
  padding: 20px;
  text-shadow: 0 0 0;
  text-align: left;
}
.carousel-caption h1{
  text-transform: uppercase;
  margin: 0 0 10px;
  font-size: 16px;
}
.carousel-caption p {
  font-size: 13px;
  line-height: 14px;
  height: 25px;
}
.carousel-caption .btn{
  font-size: 12px;
}
.carousel-control.right,
.carousel-control.left{
  top: 50%;
}
/*Caroussel mobile*/

/*Caroussel Desk*/
.destaque-description{
  color:  #fff;
}
.box-text-carou {
  max-width: 400px;
  padding: 30px;
  text-align: right;
  margin-bottom: 50px;
  float: right;
}
.destaque-description .nav{
  border-top: 1px solid #C8C8C8;
  float: right;
  width: 100%;
}
.destaque-description .nav li{
  text-align: right;
  border-bottom: 1px solid #C8C8C8;
  padding-right: 20px;
}
.destaque-description .nav li a{color:#fff;}
.destaque-description .nav li a:hover {
  font-weight: 900;
  background:none;
  transition:  all linear 0.25s; 
}
.nav-pills{
  text-align: center;
  border-bottom: 1px solid #C8C8C8;
  vertical-align: middle;
}
.nav-pills li{
  display: inline-block;
  width: 170px;
  float: none;
}
.nav-pills li img{
  display: block;
  width: 100%;
}
/*Caroussel Desk*/

/*Ambientes*/
.title-section {
  margin: 50px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}
.title-section small{
  display: block;
  font-family: 'Verlag', sans-serif;
  font-size: 14px;
  text-transform: initial;
}

.cada-ambiente {
  color: #fff;
  margin-bottom: 30px;
}
.cada-ambiente img{
  display: block;
  width: 100%;
}
.cada-ambiente a{
  margin-bottom: 30px;
}
.box-bg-ambientes{
  overflow: hidden;
  margin-bottom: 30px;
}
.box-text-ambientes {color: #fff;}
@media(min-width: 768px){
  .box-text-ambientes{
    padding: 50px;
  }
}

.fotos-ambientes img{
  display: block;
  width: 100%;
  margin: 10px 5px auto 14px;
}

.produtos-list{text-align: center;}
.produtos-list img {height: 270px;}
.produtos-list h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 900;
}
.produtos-list p{
  max-width: 200px;
  margin: 0 auto 20px;
}
.cada-produto{
  height: 500px;
}
/*Ambientes*/

/*Filtro Ambientes*/
.filter-ambientes{
  border-top: 1px solid #dedede;
  padding: 20px 0;
  text-align: center;
}
.filter-ambientes img{
  display: block;
  width: 17px;
  margin: 10px;
}
.filter-ambientes .form-control{
  border: 0;
  border-radius: 0;
  background: #F4F2F2;
  color:  #858183;
  font-size: 18px;
  margin: 0 10px; 
}
/*Filtro Ambientes*/

/*Produto*/
.box-imgs-produto{padding: 1px;}
.box-imgs-produto a{
  display: block;
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin: 5px auto;
  border: 1px solid #D2D2D2;
}
.box-imgs-produto a img{
  display: block;
  width: 72px;
  height: 72px;
}
.img-produto {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}
.breadcrumb{
  background:none;
  padding: 0;
}
.breadcrumb a{color: #6B675C;}
.box-text-produto h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 25px;
}
.detalhes-produto .nav li{
  border-bottom: 1px solid #D2D2D2;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
@media (min-width: 768px){
  .detalhes-produto .nav{
    margin-top: 60px;
  }
}
/*Produto*/

/*Newslatter*/
.newslatter{
  background: #DBB59A;
  padding: 30px 0;
  margin-top: 30px;
}

.newslatter h1{
  font-size: 27px;
  text-align: center;
  color:  #fff;
  line-height: 33px;
}
.newslatter h1 b{
  display: block;
  font-size: 51px;
}
.newslatter h1 span{
  display: block;
  font-size: 35px;
}
.newslatter form{
  display: block;
  max-width: 250px;
  margin: 20px auto;
}
.newslatter .form-control{
  text-align: center;
  background: transparent !important;
  border: 0;
  border-bottom: 1px solid #C19A7D;
  box-shadow: 0 0 0;
  font-size: 16px;
  color:  #fff;
}
.newslatter .form-control::placeholder 
{
    color: white;
    opacity: 1;
}
.newslatter .form-control:-ms-input-placeholder 
{color: white;}
.newslatter .form-control::-ms-input-placeholder 
{color: white;}

@media(min-width: 768px){
  .newslatter h1{text-align: right;}
  .newslatter form{margin:30px 0 0 20px;}
}
/*Newslatter*/


/*Footer*/
footer{
  background: #55565A;
  padding-top: 50px;
}
footer img{
  display: block;
  width: 100%;
}
.logo-footer{
  padding-bottom: 20px;
  border-bottom: 1px solid #676972;
}
.telefone-endereco {  
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #676972;
  color:  #B6B6B6;
}
.telefone-endereco h1{
  font-size: 16px;
  margin-top: 0;
  padding-top: 30px;
}
.telefone-endereco address{
  margin-bottom: 0;
}
.menu-footer {text-align: center;}
.menu-footer a{ color:  #B6B6B6; }
.social-footer {text-align: center;}
.social-footer li {display: inline-block;}
.social-footer a span{ color:  #B6B6B6; }
.copy{
  padding: 10px 0;
  text-align: center;
  background: #4F5055;
  border-top: 1px solid #676972;
}
@media(min-width: 768px){
  .logo-footer{
      padding-right: 20px;
      border-right: 1px solid #676972;
    }
  .telefone-endereco{
    padding-right: 20px;
      border-right: 1px solid #676972;
      border-bottom: 0;
  }
  .telefone-endereco address {
    margin-top: 0;
    padding-top: 15px;
  }
  .menu-footer {
    padding-left: 150px;
    padding-right: 50px;
    text-align: left;
    border-right: 1px solid #676972;
  }
  .menu-footer li{display: inline-block;}
}
/*Footer*/





/*Buttons*/
.btn {
  border:0;
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px; 
  font-family: 'EngraversGothic BT', sans-serif;
}
.btn-full {width: 100%;}
.btn-gray{
  background: #F8F8F8;
  color: #858183;
}
.btn-gray:hover,
.btn-gray:focus{
  color: #F8F8F8;
  background: #858183; 
  transition: linear all 0.25s;
}

.btn-gray-dark{
  background: #858183;
  color: #FFFFFF;
}
.btn-gray-dark:hover,
.btn-gray-dark:focus{
  color: #858183;
  background: #FFFFFF; 
  transition: linear all 0.25s;
}

.btn-salmon{
  background: #DBB59A;
  color: #F4F4F4;
}
.btn-salmon:hover,
.btn-salmon:focus{
  background: #F4C7A7; 
  transition: linear all 0.25s;
}
.btn-salmon-dark{
  background: #C19A7D;
  color: #F4F4F4;
}
.btn-salmon-dark:hover,
.btn-salmon-dark:focus{
  background: #B99378; 
  transition: linear all 0.25s;
}

.btn-brown{
  background: #837F75;
  color: #D8D8D8;
}
.btn-brown:hover,
.btn-brown:focus{
  background: #D8D8D8;
  color:  #837F75; 
  transition: linear all 0.25s;
}
.btn-brown-dark{
  background: #514E46;
  color: #fff;
}
.btn-brown-dark:hover,
.btn-brown-dark:focus{
  background: #fff;
  color:  #514E46; 
  transition: linear all 0.25s;
}

.btn-blue{
  background: #353F44;
  color: #fff;
}
.btn-blue:hover,
.btn-blue:focus{
  background: #fff;
  color:  #353F44; 
  transition: linear all 0.25s;
}

.btn-pink-dark{
  background: #B58C91;
  color: #fff;
}
.btn-pink-dark:hover,
.btn-pink-dark:focus{
  background: #fff;
  color:  #B58C91; 
  transition: linear all 0.25s;
}
/*Buttons*/

/*Sobre nos*/
.sobre-center,
.sobre-left,
.sobre-right{
  position: relative;
  overflow: hidden;
}
.sobre-center img{
  display: block;
  margin: 770px;
  margin: 0 auto;
}
.sobre-center .box-txt-sobre{
  margin: 0 auto;
  position: relative;
  bottom: 110px;
}

.box-txt-sobre{
  padding: 40px 0 40px 40px;
  max-width: 490px;
}
.txt-sobre {
  padding: 20px;
  margin-right: -50px;
  color:  #fff;
}
.txt-sobre h2 {margin-top: 0;}
/*Sobre nos*/

/*Contato*/
.box-contato{
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  bottom: 210px;
  margin-bottom: -80px;
  background: #FFFDFB;
}
.box-contato .form-group label{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.box-contato .form-control{
  border-radius: 0;
  border-color: #C6C6C6;
  box-shadow: 0 0 0;
}
.box-contato .btn{
  font-size: 18px;
  padding: 13px 0;
}
.box-contato h1{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
}
.cada-contato{margin: 20px 0;}
.cada-contato img{
  display: inline-block;
  width: 20px;
}
/*Contato*/

/*Blog*/
.blog-head{
  background: url('../img/bg-blog.png') center center no-repeat;
  background-size: cover;
  height: 220px;
}
.filter-blog{
  padding: 30px 0;
}
.filter-blog .nav-pills{
  border-bottom: 0;
}
.filter-blog .nav-pills li a{
  color: #858183;
}
.blog-list1 img,
.blog-list2 img{
  display: block;
  width: 100%;
}
.resume-blog {
  padding-top: 10px;
  margin-bottom: 50px;
}
.resume-blog h1{
  font-size: 35px;
}
.blog-list2 h1{font-size: 25px;}
.view-blog img {
  display: block;
  margin-bottom: 20px;
}
.view-blog p {
  font-size: 16px;
}
.share-post{
  margin-top: 40px;
}
.share-post b{
  display: block;
  font-weight: 900;
  font-size: 18px;
}
.share-post img{
  display: block;
  width: 180px;
}
/*Blog*/

/*Área do cliente*/
.area-cliente-head{
  background: url('../img/bg-area-cliente.png') center center no-repeat;
  background-size: cover;
  height: 220px;
}
.title-area-cliente{margin: 80px 0;}
.title-area-cliente h1{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 20px; 
}
.links-area{
  margin-top: 2px;
  text-align: center;
}
@media(min-width: 768px){
  .links-area{text-align: right;}
}
.content-lista-favoritos .container{
  border-top: 1px solid #eaeaea;
}

.cada-favorito{
  margin-top: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #eaeaea;
}
.cada-favorito img{
  display: block;
  width: 100px;
}
.cada-favorito h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 15px;
}
.cada-favorito span{
  display: block;
  margin-top: 35px;
}
.cada-favorito .btn-brown{
  margin-top: 30px;
}
/*Área do cliente*/

/*Login*/
.logo-login{margin: 30px 0;}
.logo-login img{
  display: block;
  max-width: 230px;
  margin: 0 auto;
}
.login-txt{
  border-top: 1px solid #eaeaea;
  padding-top: 50px;
}
.login-txt h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
}
.login-txt p{
  max-width: 220px;
  margin: 0 auto 30px;
  text-align: center;
}
.login-txt img{
  display: block;
  max-width: 375px;
  margin: 0 auto 30px;
}
.form-login {
  max-width: 290px;
  margin: 0 auto;
}
.form-login a{color:#858183;}
.form-login .form-group label{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.form-login .form-control{
  border-radius: 0;
  border-color: #C6C6C6;
  box-shadow: 0 0 0;
}
.form-login .btn{
  font-size: 18px;
  padding: 13px 0;
}
.footer-login{
  margin-top: 50px;
  border-top: 1px solid #eaeaea;
  padding-top: 20px;
  text-align: center;
}
.footer-login a{color:#858183;}
/*Login*/
















/*
 ***Cola de font familys***
 
 font-family: 'Raleway';
 font-family: 'EngraversGothic BT';
 font-family: 'Verlag';
 font-family: 'Verlag Book';
 */
